.root{
    &[data-variant='underline'] {
        background-color:transparent;
        color:gray;
        &:hover{
            text-decoration: underline;
            text-decoration-color: currentColor;
        }
    }
}
