:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-base: #fbfcfd;
  --black-alpha-100: #0000000a;
  --black-alpha-200: #00000014;
  --black-alpha-300: #00000029;
  --black-alpha-400: #0000003d;
  --black-alpha-500: #0000005c;
  --black-alpha-600: #0000007a;
  --black-alpha-700: #000000a3;
  --black-alpha-800: #000000cc;
  --black-alpha-900: #000000eb;
  --blue-100: #0b1d33;
  --blue-200: #153a66;
  --blue-300: #205899;
  --blue-400: #2a75cc;
  --blue-500: #00f0ff;
  --blue-600: #5da8ff;
  --blue-700: #86beff;
  --blue-800: #aed3ff;
  --blue-900: #d7e9ff;
  --grayscale-50: #f7fafc;
  --grayscale-100: #e4eef9;
  --grayscale-200: #ccdaec;
  --grayscale-300: #a9bcd0;
  --grayscale-400: #73859c;
  --grayscale-500: #43546c;
  --grayscale-600: #364359;
  --grayscale-700: #243044;
  --grayscale-800: #1b2436;
  --grayscale-900: #131b2c;
  --green-100: #11290e;
  --green-200: #23531b;
  --green-300: #347c29;
  --green-400: #46a636;
  --green-500: #57cf44;
  --green-600: #79d969;
  --green-700: #9ae28f;
  --green-800: #bcecb4;
  --green-900: #ddf5da;
  --primary-500: #00f0ff;
  --purple-100: #201331;
  --purple-200: #402662;
  --purple-300: #603893;
  --purple-400: #804bc4;
  --purple-500: #a05ef5;
  --purple-600: #b37ef7;
  --purple-700: #c69ef9;
  --purple-800: #d9bffb;
  --purple-900: #ecdffd;
  --red-100: #32100c;
  --red-200: #632118;
  --red-300: #953123;
  --red-400: #c6422f;
  --red-500: #f8523b;
  --red-600: #f97562;
  --red-700: #fb9789;
  --red-800: #fcbab1;
  --red-900: #fedcd8;
  --teal-100: #0d2e28;
  --teal-200: #1a5c50;
  --teal-300: #268978;
  --teal-400: #33b7a0;
  --teal-500: #40e5c8;
  --teal-600: #66ead3;
  --teal-700: #8cefde;
  --teal-800: #b3f5e9;
  --teal-900: #d9faf4;
  --white-alpha-100: #ffffff0a;
  --white-alpha-200: #ffffff14;
  --white-alpha-300: #ffffff29;
  --white-alpha-400: #ffffff3d;
  --white-alpha-500: #ffffff5c;
  --white-alpha-600: #ffffff7a;
  --white-alpha-700: #ffffffa3;
  --white-alpha-800: #ffffffcc;
  --white-alpha-900: #ffffffeb;
  --yellow-100: #332502;
  --yellow-200: #664a04;
  --yellow-300: #997006;
  --yellow-400: #cc9508;
  --yellow-500: #ffba0a;
  --yellow-600: #ffc83b;
  --yellow-700: #ffd66c;
  --yellow-800: #ffe39d;
  --yellow-900: #fff1ce;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
