/* NavLink.module.css */
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  text-decoration: none;
  height: 100%;
  border-bottom: 2px solid transparent;

  color: white;
  transition: color 150ms ease, border-color 150ms ease;
}

.active {
  color: var(--mantine-color-blue-4);
  border-bottom-color: currentColor;
}
